In [1]:
import pandas as pd 
import numpy as np
import socket
import requests
import googlemaps
import json

api_key='AIza___-CcZL3xJp4'

with open('dests.txt', "r") as file:
    destinations = file.readlines()
    destinations = [line.rstrip() for line in destinations]

C:\Users\tamar\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
google_maps = googlemaps.Client(key='AIza___-CcZL3xJp4')

origin = 'Tel Aviv-Yafo, Israel'

distances = {}
for destination in destinations:
    result = google_maps.distance_matrix(origin, destination)
    distance = result['rows'][0]['elements'][0]['distance']['value'] / 1000
    distances[destination] = distance

dis_Istanbul = distances['Istanbul']
dis_Amsterdam = distances['Amsterdam']
dis_Valletta = distances['Valletta']
dis_Basel = distances['Basel']
dis_Doha = distances['Doha']

print('Istanbul', dis_Istanbul)
print('Amsterdam', dis_Amsterdam)
print('Valletta', dis_Valletta)
print('Basel', dis_Basel)
print('Doha', dis_Doha)

Istanbul 1815.227
Amsterdam 4539.165
Valletta 3792.883
Basel 4092.805
Doha 2164.477

In [3]:
travel_times = []

for destination in destinations:
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Tel%20Aviv&destinations={}&key=AIza___-CcZL3xJp4".format(destination)
    response = requests.get(url)
    data = response.json()
    travel_time = data["rows"][0]["elements"][0]["duration"]["value"] // 60
    travel_times.append(travel_time)

time_Istanbul = travel_times[0]
time_Amsterdam = travel_times[1]
time_Valletta = travel_times[2]
time_Basel = travel_times[3]
time_Doha = travel_times[4]

print('Istanbul', time_Istanbul)
print('Amsterdam', time_Amsterdam)
print('Valletta', time_Valletta)
print('Basel', time_Basel)
print('Doha', time_Doha)

Istanbul 1262
Amsterdam 2890
Valletta 3050
Basel 2642
Doha 1358

In [4]:

address="Istanbul, Turkey"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Istanbul = response['results'][0]['geometry']['location']['lat']
lng_Istanbul = response['results'][0]['geometry']['location']['lng']


address="Amsterdam, Netherlands"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Amsterdam = response['results'][0]['geometry']['location']['lat']
lng_Amsterdam = response['results'][0]['geometry']['location']['lng']


address="Valletta, Malta"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Valletta = response['results'][0]['geometry']['location']['lat']
lng_Valletta = response['results'][0]['geometry']['location']['lng']


address="Basel, Switzerland"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Basel = response['results'][0]['geometry']['location']['lat']
lng_Basel = response['results'][0]['geometry']['location']['lng']


address="Doha, Qatar"
url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
response = requests.get(url).json()
lat_Doha = response['results'][0]['geometry']['location']['lat']
lng_Doha = response['results'][0]['geometry']['location']['lng']

In [5]:
df = pd.DataFrame([['Istanbul', dis_Istanbul, time_Istanbul, lat_Istanbul, lng_Istanbul],
                   ['Amsterdam', dis_Amsterdam, time_Amsterdam, lat_Amsterdam, lng_Amsterdam],
                   ['Valletta', dis_Valletta, time_Valletta, lat_Valletta, lng_Valletta],
                   ['Basel', dis_Basel, time_Basel, lat_Basel, lng_Basel],
                   ['Doha', dis_Doha, time_Doha, lat_Doha, lng_Doha]],    
                  columns=['Target','Distance(km)','Duration(min)','Longitude','latitude']) 
df

      Target  Distance(km)  Duration(min)  Longitude   latitude
0   Istanbul      1815.227           1262  41.008238  28.978359
1  Amsterdam      4539.165           2890  52.367573   4.904139
2   Valletta      3792.883           3050  35.899237  14.514100
3      Basel      4092.805           2642  47.559599   7.588576
4       Doha      2164.477           1358  25.285447  51.531040

In [7]:
a = df[['Target','Distance(km)']].groupby(['Target']).max(reversed)
a.head(3)

           Distance(km)
Target
Amsterdam      4539.165
Basel          4092.805
Doha           2164.477